.col-60perc-right
  .col-ss650.left
    %h1 About Sitesupport project
    %p This project is a simple test project support system of a relatively small site or portal.
    %p You could use it as is without any guarantees from the developers of the system on your own risk
.col-ss450
  %img{src: 'about.jpg'}
