.col-60perc-right
  .col-ss650.left
    %h1 Contacts:
    %p Houston, Ukraine
    %a{href: 'mailto://aqueelone@gmail.com', target: '_blank'} Sergy Nazarevich AKA Aqueelone
.col-ss450
  %img{src: 'contacts.jpg'}
