.col-60perc-right    
  .col-ss450.left
    %h1 Welcome to sitesupport!
    %p Here You have the opportunity to describe your issue in the form of ticket.
    %p Your issue will be assigned for review by suitable engineer on site support and he'll send message to you via email about possible resolving it.
    %p <em><strong>Thank You for using oure sitesupport!</strong></em>
.col-60perc-right
  .col-ss250-fix.right
    %a{href: '#', class: ['btn', 'btn-right'], hidefocus: 'true', style: 'outline: none; opacity: 1;'}
      %span Create ticket
.col-ss450
  %img{src: 'support3.jpg'}
